/* You can add global styles to this file, and also import other style files */

.ant-notification {
    width: 1000px;
}

input[type="text"]:disabled {
    background-color: #ddd;
}

.ant-form-explain,
.ant-form-extra {
    color: #f5222d;
}